@page "/BlazorHome"
@using Radzen.Blazor
@using USElections.WASM.Components

<PageTitle>Blazor Home</PageTitle>

<RadzenFieldset>
    <HeaderTemplate>Blazor Home</HeaderTemplate>

    <ChildContent>
        <h2>United States</h2>
        <USMap></USMap>
    </ChildContent>
</RadzenFieldset>