<div>
    <span class="elector-totals">Republican: @RepublicanElectors()</span>
    <span class="elector-totals">Democrat: @DemocratElectors()</span>
    <span class="elector-totals">Remaing: @UndecidedElectors()</span>
</div>
