<h3>US Election 2024</h3>

<ElectorTotals USStates=@USStates/>

<svg width="1000" height="1000">
    if (USStates != null)
    {
        @foreach(var state in USStates)
        {
            <USStateComponent State=@state OnStateUpdated=@HandleOnStateUpdated  />
        }
    }


</svg>
