@page "/USElections/FootballTeams"

@using USElections.Shared.DTOs
@using USElections.WASM.Repos.Football
<h3>TeamsList</h3>
<RadzenDataGrid Data="@Teams" TItem="TeamDTO">
    <Columns>
        <RadzenDataGridColumn TItem="TeamDTO" Property="@nameof(TeamDTO.TeamID)" Title="ID" />
          

        <RadzenDataGridColumn TItem="TeamDTO" Property="@nameof(TeamDTO.TeamName)" Title="Team Name" >
            <Template Context="data">
                @{
                    var item = data as TeamDTO;

                }
                <a href="/USElections/FootballDetails/@item.TeamID">
                    @item.TeamName
                </a>
            </Template>
            </RadzenDataGridColumn>
     
    </Columns>
</RadzenDataGrid>
@code {
    [Inject]
    private IFootballRepository _repo { get; set; }
    public List<TeamDTO> Teams { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Teams = await _repo.GetTeamList();

    }

}
