@page "/USElections/FootballDetails/{teamId}"
@using USElections.Shared.DTOs
@using USElections.WASM.Repos.Football


<h3>TeamDetails</h3>
     <RadzenChart>
                <RadzenLineSeries Smooth="@true" Data="@Details" CategoryProperty="@nameof(TeamDetailsDTO.WeekNumber)" Title="Offense Pass Yards 2024" LineType="LineType.Dashed" ValueProperty="@nameof(TeamDetailsDTO.OffensePassYards)">
                    <RadzenMarkers Visible="true" MarkerType="MarkerType.Square" />
                    <RadzenSeriesDataLabels Visible="true" />
                </RadzenLineSeries>
    <RadzenCategoryAxis Padding="20" />
    <RadzenValueAxis >
        <RadzenGridLines Visible="true" />
        <RadzenAxisTitle Text="Yards Thrown" />
    </RadzenValueAxis>
    <RadzenCategoryAxis>
        <RadzenGridLines Visible="true" />
        <RadzenAxisTitle Text="Game Week" />
    </RadzenCategoryAxis>
                </RadzenChart>
@code {
    [Parameter]
    public string teamId { get; set; }
    [Inject]
    private IFootballRepository _repo { get; set; }
    public List<TeamDetailsDTO> Details { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Details  = await  _repo.GetTeamDetailsList(this.teamId);
    }
}
